<div class="container">
  <app-search></app-search>
  <ul>
    <li *ngFor="let equipment of equipments">
      <a [routerLink]="['/equipment', equipment.id]">
        <img [src]="equipment.image" alt="equipment.name" />
        <div class="equipment-details">
          <div class="title">
            <h3>{{ equipment.name }}</h3>
            <span class="favourite {{ equipment.favourite ? '' : 'not' }}"
              >❤</span
            >
          </div>
          <p>{{ equipment.shortDescription }}</p>
          <div class="tags">
            <span class="tag" *ngFor="let tag of equipment.tags">{{
              tag
            }}</span>
          </div>
          <p class="price">{{ equipment.price | currency : "EUR" }}</p>
        </div>
      </a>
    </li>
  </ul>
</div>
