<div class="container">
  <a routerLink="/" class="logo">KOSarica</a>
  <nav>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <ul [ngClass]="{ 'show-menu': isMenuOpen }">
      <li>
        <a routerLink="/">Login</a>
      </li>
      <li class="menu-wrapper">
        <a routerLink="/dashboard">Paolo</a>
        <div class="menu">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
      <li>
        <a routerLink="/cart-page"> Cart <span>3</span> </a>
      </li>
    </ul>
  </nav>
</div>
