<div class="container">
  <a routerLink="/" class="logo">KOSarica</a>
  <nav>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <ul [ngClass]="{ 'show-menu': isMenuOpen }">
      <li *ngIf="!user?.token">
        <a routerLink="/login">Login</a>
      </li>
      <li class="menu-wrapper">
        <a routerLink="/dashboard">{{ user?.name }}</a>
        <div class="menu" *ngIf="user?.token">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
      <li *ngIf="cartQuantity">
        <a routerLink="/cart">
          Cart <span>{{ cartQuantity }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
