.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  height: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:not(.logo)::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

a:not(.logo):hover::after {
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

a span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  border-radius: 50%;
  padding: 2px 8px;
  background-color: #fff;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}

.menu {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  display: none;
}

.menu-wrapper:hover .menu {
  display: block;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1em 0;
    align-items: center;
    top: 34px;
    z-index: 1;
  }

  .show-menu {
    display: flex;
  }

  ul li {
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
  }

  .menu-wrapper:hover .menu {
    display: block;
    position: static;
  }

  .menu {
    position: static;
    display: none;
    background: #333;
    padding: 1em;
    width: 100%;
  }
}
